.classes{
    background-color: #F8F8F8;
    .top-boxes{
        .img-boxs{
            img{
                width: 100%;
            }
        }
        .payment-detail{
            background-color: white;
            padding:20px 35px 35px;
            .info-title{
                position: relative;
                    color: #000;
                    font-size: 22px;
                    font-weight: 600;
                    padding-bottom: 15px;
                    margin-bottom: 25px;
                  

                
                    &::after {
                        content: "";
                        height: 4px;
                        width: 37px;
                        background-color: #ff0336;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        
                    }
            }
            .class-info-list{
                padding: 0px;
              
                li{
                        color: #444;
                            text-transform: capitalize;
                            border-bottom: 1px solid #e8e8e8;
                            padding: 27.5px 0;
                            h4{
                                font-size: 16px;
                                    font-weight: 500;
                                    margin-bottom: 0;
                                    .price{
                                            color: #000;
                                                font-size: 24px;
                                                font-weight: 700;
                                                margin-left: 15px;
                                    }
                                    .unit{
                                            color: #818181;
                                                font-size: 14px;
                                                font-weight: 400;
                                                text-transform: lowercase;
                                    }
                                    .item{
                                        color: #111;
                                            font-size: 16px;
                                            font-weight: 600;
                                            margin-left: 15px;
                                    }
                            }
                }
            }
            .class-btn{
                    margin-top: 40px;
                        text-align: center;
                .btn-style{
                    background-color: #ff0336;
                    color: #fff;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: 1px;
                        display: inline-flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                       
                        box-shadow: 0 6px 43px rgb(0 0 0 / 16%);
                        padding: 11px 30px;
                        transition: all .4s;
                   
                }
            }
        }
    }
    .content-box{
        h3{
            font-size: 30px;
            color: black;
            line-height: 44px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            color: #646464;
            
        }
    }
    .things-bring{
        h3{
            font-size: 30px;
                color: black;
                line-height: 44px;
                margin-bottom: 10px;
                font-weight: 700;

        }
        p{
            font-size: 16px;
                color: #646464;
        }
        .things{
            .info-box{
                margin: 20px;
                border-radius: 20px;
                padding: 20px;
                text-align: center;
                color: white;
                background-color: #ff0336;
                .info-thing{
                    margin-bottom: 10px;
                    span{
                        i{
                            font-size: 50px;
                        }
                    }
                }
                .info-content{
                    h3{
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
    }

}